.container
  .card
    .card-header
      Best Seller
    .card-body
      .card
        %img.card-img-top
          = image_tag 'drawn-black-cat-reference-514571-4959914_211x211.jpg'
        .card-body
          %h5.card-title Special title treatment
          %p.card-text With supporting text below as a natural lead-in to additional content.
          %a.btn.btn-primary(href="#") Go somewhere