<div class="form-group">
  <%= f.label :category_name %>
  <%= f.text_field :category_name%>
  <span class="help-block"><i>* This field is required (leave blank if you are editing and don't want to change the password)</i><span>
</div>

<div class="form-group">
  <%= f.label :image %>
  <%= f.file_field :image%>
  <span class="help-block"><i>* This field is required (leave blank if you are editing and don't want to change the password)</i><span>
</div>
